/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Cinzel', serif;
  background: url(/murfad.jpg);
  background-size: cover;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
}

.home {
  position: absolute;
  bottom: 5em;
  max-width: 600px;
  right: 0;
  padding: 0 1em;
}
h1 { font-size: 3em; }

p {
  color: #fff;
  background: #000;
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 0 4px;
}

/** MEDIA SCREENS **/
@media screen and (max-width: 545px) {
body {
  background: none;
}
.home { bottom: 2em; }
.wrap {
  background: url(/murfad2.png);
  width: 200px;
  height: 202px;
  margin: auto;
  margin-top: 2em;
}
h1 { font-size: 2em; }
p { font-size: 12px; }
}
